.sidebar{
    top: 80px;
    position:sticky;
    flex: 0.19;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
    padding-left: 15pc;
    scroll-behavior:smooth;
}

.sidebar_avatar{
    margin-bottom: 10px;
    min-width: max-content;
    min-height: max-content;


}
.sidebar_top{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding-bottom: 10px;
    

}
.sidebar_top>img{
    margin-bottom: -30px;
    width:100%;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
.sidebar_stat{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.sidebar_stat>p{
    color: gray;
    font-size: 13px;
    font-weight: 600;
}
.sidebar_statnumber{
    font-weight: bold;
    color: #0a66c2 !important ;
}
.sidebar_stats{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.sidebar_top>h4{
    color: gray;
    font-size: 12px;
    font-weight: 200;


}
.sidebar_top>h2{
    font-size: 18px;
    font-weight:600 ;

}
.sidebar_buttom{
    position:sticky;
    text-align: left;
    padding: 10px;
    background-color: white;
    margin-top: 10px;
    

}
.sidebar_recentitem{
    display: flex;
    font-size: 13px;
    color: gray;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
    
    
}
.sidebar_recentitem:hover{
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}
.sidebar_hash{
    margin-right: 10px;
    margin-left: -20px;
}
.sidebar_buttom>p{
    font-size: 13px;
    padding-bottom: 10px;

}
.sidebar_avatar{
    width: 60px !important;
    height: 60px !important;
    border: 2px solid white !important;
}
.sidebartop_main{
    position: static;
}
.group_icon{
   margin-right: 5px; 
}
.sidebar_buttom_1{
    position:sticky;
    text-align: left;
    padding: 10px;
    background-color: white;
    margin-top: 10px;
    

}
.sidebar_buttom_1>p{
    color: #0a66c2;
    font-size: 13px;
    padding-bottom: 10px;
}
.sidebar_b{
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
    position: sticky;
}